@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #1f2937;
}

/* Nav styles */
.hero nav {
    height: 70px;
    display: flex;
    align-items: center;
}
.hero nav p {
    color: #f9faf8;
    font-size: 24px;
    margin: 0 0 0 200px;
}
.hero nav a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px 0 10px;
}
.hero nav .first{
    margin-left: auto;
}
.hero nav .last {
    margin-right: 200px;
}

/* Content styles */
.hero-main {
    margin: 40px 200px 0 200px;
    display: flex;
}
.hero-main .content {
    margin: 20px 60px 20px 20px;
}
.hero-main .content h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}
.hero-main .content p {
    font-size: 18px;
    color: #e5e7eb;
}
.hero-main .content input {
    padding: 10px 18px;
    border: none;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    font-size: 1.3rem;
}
.hero-main img {
    width: 250px;
    margin: 10px;
}

/* Quote styles */
.quote {
    background-color: #e5e7eb;
    padding: 150px 200px;
}
.quote p {
    color: #1f2937;
    font-style: italic;
    font-size: 36px;
    margin: 0;
    padding: 0;
}
.quote .quotee {
    margin-top: 20px;
    text-align: right;
    font-size: 24px;
    font-weight: 600;
}

/* Footer styles */
.footer {
    background-color: #1f2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer p {
    font-size: 20px;
    color: #f9faf8;
    margin: 0;
    display: inline;
}
/* Cards styles */
.cards {
    margin: 60px 0;
}
.cards h1 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
}
.cards .cards-content {
    margin: 0 200px;
    display: flex;
    justify-content: space-evenly;
}
.cards .cards-content .content div {
    height: 150px;
    width: 150px;
    border: 4px solid #3882f6;
    border-radius: 10px;
}
.cards .cards-content .content p {
    text-align: center;
} 
/* Call styles */
.call {
    padding: 100px 200px;
}
.call .banner {
    background-color: #3882f6;
    height: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
.call .banner input {
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    border-radius: 5px;
    color: #f9faf8;
    padding: 10px 17px;
    font-weight: 500;
    font-size: 20px;
}
.call .banner div p {
    margin: 0;
}
.call .banner div .one {
    color: #f9faf8;
    font-size: 24px;
}
.call .banner div .two {
    color: #e5e7eb;
    font-size: 18px;
}
